
<div id="splashPage" class="row">
  <div class="row">
    <div class="col-md-2">
      <div class="row fifty"></div>
      <div class="row">
        <div class="col-md-12"><a ui-sref="home" class="btn btn-large btn-gray"><img src="images/leftArrow.png" alt="PREVIOUS"></a></div>
      </div>
    </div>
    <div class="col-md-7">
      <div style="height: 3vw;" class="row"></div>
      <div class="row"><img src="images/aboutCodingHouseImg.png" alt="Page about CodingHouse"/></div>
    </div>
    <div class="col-md-1">
      <div class="row fifty"></div>
      <div class="row">
        <div class="col-md-12"><a ui-sref="portfolio" class="btn btn-large btn-gray"><img src="images/rightArrow.png" alt="NEXT"></a></div>
      </div>
    </div>
  </div>
</div>
