<div class="container">

  <div class="row smallArrow">
    <div class="col-xs-4" style="position: absolute;">
      <a ui-sref="portfolio" class="btn btn-large btn-gray"><img class='back' src="images/leftArrow.png" alt="PREVIOUS"></a>
    </div>
  </div>

  <div style="height: 1vh;" class="row"></div>
  <div class="row">
    <div style="overflow: hidden;" class="col-md-1 blogCol bigArrow">
      <div class="row fifty"></div>
      <div class="row">
        <a ui-sref="portfolio" class="btn btn-large btn-gray"><img class='back' src="images/leftArrow.png" alt="PREVIOUS"></a>
      </div>
    </div>
    <div style="overflow: hidden;" class="col-md-10">
      <iframe style="width: 70vw; height:85vh;" src="https://richardmaltbyblog.wordpress.com/" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div style="overflow: hidden;" class="col-md-1 blogCol"></div>
  </div>
</div>
