<div id="portPage" class="row">



  <div class="col-xs-12">
    <div class="row ">

      <div class="col-xs-2 smallArrow">
        <a ui-sref="aboutMe" class="btn btn-large btn-gray"><img class='back' src="images/leftArrow.png" alt="PREVIOUS"></a>
      </div>
      <div class="col-xs-2 bigArrow">
        <div class="row fifty"></div>
        <div class="row">
          <a ui-sref="aboutMe" class="btn btn-large btn-gray"><div class="col-md-12">
            <img src="images/leftArrow.png" alt="PREVIOUS">
          </div></a>
        </div>
      </div>


      <div class="col-xs-5" style="padding-top: 3vw; width: 60vw;">
        <div class="row">
          <div class="col-xs-4">
            <a target="_blank" class="fancybox" rel="group" href="images/Coc.png"><img class="portfolioPages" src="images/Coclink.png" alt="Page about CodingHouse" /></a>
          </div>
          <div class="col-xs-4">
            <a target="_blank" class="fancybox" rel="group" href="images/Conduct.png"><img class="portfolioPages" src="images/conductLink.png" alt="Page about CodingHouse" /></a>
          </div>
          <div class="col-xs-4">
            <a target="_blank" class="fancybox" rel="group" href="images/NMAM.png"><img class="portfolioPages" src="images/NMAMLink.png" alt="Page about CodingHouse" /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-4">
            <a target="_blank" class="fancybox" rel="group" href="images/NMAMrec.png"><img class="portfolioPages" src="images/NMAMrecLink.png" alt="Page about CodingHouse" /></a>
          </div>
          <div class="col-xs-6">
            <a target="_blank" class="fancybox" rel="group" href="images/Lor.png"><img class="portfolioPages" src="images/LorLink.png" alt="Page about CodingHouse" /></a>
          </div>
        </div>
      </div>



      <div class="col-xs-2 bigArrow">
        <div class="row  fifty"></div>
        <div class="row">
          <div class="col-md-12">
            <a ui-sref="blog" class="btn btn-large btn-gray"><img src="images/rightArrow.png" alt="NEXT"></a>
          </div>
        </div>
      </div>
      <div class="col-xs-2 smallArrow">
        <a ui-sref="blog" class="btn btn-large btn-gray"><img src="images/rightArrow.png" alt="NEXT"></a>
      </div>
    </div>
  </div>
</div>
