<div class="container">

  <div class="row smallArrow">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <a ui-sref="aboutMe" class="btn btn-large btn-gray"><img src="images/rightArrow.png" alt="NEXT"></a>
    </div>
  </div>

  <div class="row fifty bigArrow"></div>
  <div class="row bigArrow">
    <div class="col-xs-1"></div>
    <div class="col-xs-10"></div>
    <div class="col-xs-1 ">
      <a ui-sref="aboutMe" class="btn btn-large btn-gray"><img src="images/rightArrow.png" alt="NEXT"></a>
    </div>
  </div>
</div>
